<div class='project-tech-stack'>
  <div class='tech'>
    <img src="images/icons/icons8-rails-a-server-side-web-application-framework-written-in-ruby-96.png" alt="">
    <p>Rails</p>
  </div>
  <div class='tech'>
    <img src="images/icons/icons8-ruby-programming-language-96.png" alt="">
    <p>Ruby</p>
  </div>
  <div class='tech'>
    <img src="images/icons/icons8-postgresql-100.png" alt="">
    <p>PostrgreSQL</p>
  </div>
</div>
