<div id="banner">
  <div class="banner-content">
    <div class='banner-left'>
      <p>Hi, I'm</p>
      <h3 class="title-main">Kenta Asakura</h3>
      <span>A passionate full-stack developer</span>
      <div class='banner-btns'>
        <a href=""><i class="fa-solid fa-envelope"></i></a>
        <a href="https://github.com/Kenta-Asakura" target='_blank'><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/kenta-asakura/" target='_blank'><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class='banner-right'>
      <img src="/images/profile.jpg" alt="">
      <%#= image_tag('profile.jpg') %>
    </div>
  </div>
</div>
