<div class="banner">
  <div class="col-12 d-flez justify-content-center align-items-center h-100">
    <div class='w-50 d-flex'>
      <h3>Hi, I'm</h3>
      <h1 class="title-main">Kenta
      Asakura</h1>
      <p>A passionate full-stack developer</p>
      <div class='banner-btns'>
        <a href=""><i class="fa-solid fa-envelope"></i></a>
        <a href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>

    <div class='w-50'>

    </div>
  </div>
</div>
