<div id="contact">
  <div id='contact-form'>
    <form action="action_page.php">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Harold Kumar">

      <label for="email">E-mail</label>
      <input type="text" id="email" name="email" placeholder="haroldkumar@yahoo.com">

      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>
