<section id="home" class="hero">
  <div class='hero__text-box'>
    <h3 class="heading-tertiary">Hi, I'm</h3>
    <h1 class="heading-primary">Kenta Asakura</h1>
    <p>A passionate full-stack developer</p>

    <div class='hero__social-icons'>
      <a href="mailto:asakura.kenta963420@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://github.com/Kenta-Asakura" target='_blank'><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/kenta-asakura/" target='_blank'><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>

  <div class='hero__img-box'>
    <picture>
      <source srcset="/images/profile-header-mobile.jpg" media="(max-width: 768px)">
      <img src="/images/profile-header-desktop.jpg" alt="Kenta Asakura">
    </picture>
  </div>
</div>
</section>
