<div class='container'>
  <div class='navbar'>
    <%# <%# <p class='nav-link'><%= link_to 'HOME', "partials/banner.html" % %>
    <div class='nav-link'>
      <a href="#home">HOME</a>
    </div>
    <%#= link_to 'ABOUT', "partials/about.html" class: 'nav-link' %>
    <div class='nav-link'>
      <a href="#about-me">ABOUT</a>
    </div>
    <div class='nav-link'>
      <a href="#projects">PROJECTS</a>
    </div>
    <div class='nav-link'>
      <a href="#contact">CONTACT</a>
    </div>
  </div>
</div>
