<nav class='main-nav'>
  <img src="images/home-logo.png" alt="" id='home-logo'>

  <ul class="main-nav__list">
    <li class='main-nav__item'>
      <a class='main-nav__link' hrefr="#home">HOME</a>
    </li>
    <li class='main-nav__item'>
      <a class='main-nav__link' href="#about-me">ABOUT</a>
    </li>
    <li class='main-nav__item'>
      <a class='main-nav__link' href="#projects">PROJECTS</a>
    </li>
    <li class='main-nav__item'>
      <a class='main-nav__link' href="#contact">CONTACT</a>
    </li>
  </ul>

  <%# <div id='main-nav__language-toggler'>
    <input type="checkbox" name="switch" id="switch">
    <label for="switch" class='language-toggler'></label>
  </div> %>

  <div class="main-nav__menu-icon">
    <i class="fa fa-bars"></i>
  </div>

  <div class="sidepanel">
    <div class="close-icon">
      <i class="fa fa-times"></i>
    </div>
    <ul class="sidepanel-menu">
      <li><a href="#about-me">ABOUT</a></li>
      <li><a href="#projects">PROJECTS</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
    <div class='sidepanel-menu-social'>
      <a href="mailto:asakura.kenta963420@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://github.com/Kenta-Asakura" target='_blank'><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/kenta-asakura/" target='_blankneeded?'><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <%# <div id='sidepanel-language-toggler'>
      <input type="checkbox" name="switch" id="switch">
      <label for="switch" class='language-toggler'></label>
    </div> %>
  </div>
</nav>
