<div class='navbar-lewagon'>
  <div class='nav-link'>
    <a href="">HOME</a>
  </div>
   <div class='nav-link'>
    <a href="">ABOUT</a>
  </div>
   <div class='nav-link'>
    <a href="">PROJECTS</a>
  </div>
   <div class='nav-link'>
    <a href="">CONTACT</a>
  </div>
</div>
