<div class='navbar'>
  <%# <%# <p class='nav-link'><%= link_to 'HOME', "partials/banner.html" % %>
  <div class='nav-link'>
    <a href="">HOME</a>
  </div>
  <%#= link_to 'ABOUT', "partials/about.html" class: 'nav-link' %>
   <div class='nav-link'>
    <a href="">ABOUT</a>
  </div>
   <div class='nav-link'>
    <a href="">PROJECTS</a>
  </div>
   <div class='nav-link'>
    <a href="">CONTACT</a>
  </div>
</div>
