<div class='container'>
  <div class='navbar'>
    <div class='nav-link'>
      <a href="#home">HOME</a>
      <a href="#about-me">ABOUT</a>
      <a href="#projects">PROJECTS</a>
      <a href="#contact">CONTACT</a>
    </div>
  <%# <div class="navbar-dropdown">
    <button class="navbar-toggle" type="button" aria-label="Toggle navigation">
      <span class='navbar-toggle-icon'><i class="fa-regular fa-bars"></i></span>
    </button>
    <div class='dropdown-content'>
      <a href="#home">HOME</a>
      <a href="#about-me">ABOUT</a>
      <a href="#projects">PROJECTS</a>
      <a href="#contact">CONTACT</a>
    </div>
  </div> %>
</div>
