<div class='container'>
  <div class='navbar'>
    <img src="images/home-logo.png" alt="" id='home-logo'>
    <div class="nav-links">
      <a href="#home">HOME</a>
      <a href="#about-me">ABOUT</a>
      <a href="#projects">PROJECTS</a>
      <a href="#contact">CONTACT</a>
    </div>
  <div class="navbar-menu-icon">
    <i class="fa fa-bars"></i>
  </div>
  <div class="sidepanel">
    <ul class="sidepanel-menu">
      <li><a href="#home">HOME</a></li>
      <li><a href="#about-me">ABOUT</a></li>
      <li><a href="#projects">PROJECTS</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
  </div>
  </div>
</div>
