<div class="projects">
  <h1>PROJECTS</h1>
  <div class='projects-content'>
    <div class='project-1'>
      <img src="images/projects/project2.jpg" alt="">
      <div class='project-1-description'>
        <h2>Kotoback</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iste eum suscipit ut laudantium expedita! Eaque corporis fuga nobis voluptates asperiores architecto, voluptas illo ut eum dolorem. Impedit, odit placeat.</p>
        <div class='project-tech-stack'>

        </div>
        <div class='project-btns'>
          <a href="" class='view-project-btn'>View Project</a>
          <a href="" class='source-code-btn'>Source Code</a>
        </div>
      </div>
    </div>
    <div class='project-2'>
      <div class='project-1-description'>
        <p>Haunted tours</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam velit nulla eligendi quis consectetur distinctio eum ex sit? Dignissimos consequatur deleniti doloremque deserunt aliquid aspernatur omnis quia veniam non saepe!</p>
        <div class='project-tech-stack'>

        </div>
        <div class='project-btns'>
          <a href="">View Project</a>
          <a href="">Source Code</a>
        </div>
      </div>
      <img src="images/projects/project2.jpg" alt="">
    </div>
    <div class='project-3'>

    </div>
  </div>
</div>
