<div id='projects'></div>
<div class="projects-container">
  <div class='header-projects'>
    <h1>PROJECTS</h1>
  </div>
  <div class='projects-content'>
    <div class='project-1'>
      <div class='project-left'>
        <img src="images/projects/kotoback.png" alt="" class='project-img'>
        <%# <div class='project-credentials'>
            <div class='project-credentials-text'>
              <p>Username: kenta@yahoo.com</p>
              <p>Password: secret</p>
            </div>
        </div>
        </div> %>
      <div class='project-right'>
        <div class='project-description'>
          <h2>Kotoback</h2>
          <p>A web application where a user can upload epub book (Either Japanese to English, or English to Japanese.) and automatically generates flashcards
           to let the user study before reading and have a smoother reading experience. </p>
          <%= partial 'partials/project_tech_stack' %>
          <div class='project-btns'>
            <a href="https://www.kotoback.net" target='_blank' class='view-project-btn'>View Project</a>
            <a href="https://github.com/Jtsoco/kotoback" target='_blank' class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class='project-2'>
      <div class='project-left'>
        <div class='project-description'>
          <h2>My Watch List</h2>
          <p>An entertainment app which gets info about the current movies and allow users to bookmark them.</p>
          <%= partial 'partials/project_tech_stack' %>
          <div class='project-btns'>
            <a href="https://my-watch-list-app.herokuapp.com/" target='_blank' class='view-project-btn'>View Project</a>
            <a href="https://github.com/Kenta-Asakura/my-watch-list" target='_blank' class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
      <div class='project-right'>
        <img src="images/projects/my-watch-list.png" alt="" class='project-img'>
        <div class='project-credentials'>
          <div class='project-credentials-text'>
            <p>Username: kenta@yahoo.com</p>
            <p>Password: secret</p>
          </div>
        </div>
      </div>
    </div>

    <div class='project-3'>
      <div class='project-left'>
        <img src="images/projects/haunted-tours.png" alt="" class='project-img'>
      </div>
      <div class='project-right'>
        <div class='project-description'>
          <h2>Haunted tours</h2>
          <p>An air bnb model based app, where a user can book a haunted tour or host one.</p>
          <%= partial 'partials/project_tech_stack' %>
          <div class='project-btns'>
            <a href="" target='_blank' class='view-project-btn'>View Project</a>
            <a href="https://github.com/Jtsoco/haunted-tours" target='_blank' class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
