<p id='projects-link'></p>
<div class="projects">
  <div class='header-projects'>
    <h1>PROJECTS</h1>
  </div>
  <div class='projects-content'>
    <div class='project'>
      <div class='project-left'>
        <img src="images/projects/kotoback.png" alt="" class='project-img'>
      </div>
      <div class='project-right'>
        <div class='project-description'>
          <h2>Kotoback</h2>
          <p>A web application where you can upload epub book (Either Japanese to English, or English to Japanese.) and automatically generates flashcards
           for you to study before reading and have a smoother reading experience. </p>
          <%= partial 'partials/project_tech_stack' %>
          <div class='project-btns'>
            <a href="https://www.kotoback.net" target='_blank' class='view-project-btn'>View Project</a>
            <a href="https://github.com/Jtsoco/kotoback" target='_blank' class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class='project'>
      <div class='project-left'>
        <div class='project-description'>
          <h2>Kotoback</h2>
          <p>An air bnb model based app, where a user can book a haunted tour or host one.</p>
          <%= partial 'partials/project_tech_stack' %>
          <div class='project-btns'>
            <a href="https://www.kotoback.net" target='_blank' class='view-project-btn'>View Project</a>
            <a href="https://github.com/Jtsoco/haunted-tours" target='_blank' class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
      <div class='project-right'>
        <img src="images/projects/haunted-tours.png" alt="" class='project-img'>
      </div>
    </div>
  </div>
</div>
