<div class="projects">
  <div class='header-right'>
    <h1>PROJECTS</h1>
  </div>
  <div class='projects-content'>
    <div class='project'>
      <div class='project-left'>
        <img src="images/projects/project2.jpg" alt="" class='project-img'>
      </div>
      <div class='project-right'>
        <div class='project-description'>
          <h2>Kotoback</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iste eum suscipit ut laudantium expedita! Eaque corporis fuga nobis voluptates asperiores architecto, voluptas illo ut eum dolorem. Impedit, odit placeat.</p>
          <div class='project-tech-stack'>
            <div class='tech'>
              <img src="images/icons/icons8-rails-a-server-side-web-application-framework-written-in-ruby-96.png" alt="">
              <p>Rails</p>
            </div>
            <div class='tech'>
              <img src="images/icons/icons8-ruby-programming-language-96.png" alt="">
              <p>Ruby</p>
            </div>
            <div class='tech'>
              <img src="images/icons/icons8-postgresql-100.png" alt="">
              <p>PostrgreSQL</p>
            </div>
          </div>
          <div class='project-btns'>
            <a href="https://www.kotoback.net" target='_blank' class='view-project-btn'>View Project</a>
            <a href="https://github.com/Jtsoco/kotoback" target='_blank' class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class='project'>
      <div class='project-left'>
        <div class='project-description'>
          <h2>Kotoback</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iste eum suscipit ut laudantium expedita! Eaque corporis fuga nobis voluptates asperiores architecto, voluptas illo ut eum dolorem. Impedit, odit placeat.</p>
          <div class='project-tech-stack'>
            <img src="images/icons/icons8-rails-a-server-side-web-application-framework-written-in-ruby-96.png" alt="">
            <img src="images/icons/icons8-ruby-programming-language-96.png" alt="">
            <img src="images/icons/icons8-postgresql-100.png" alt="">
          </div>
          <div class='project-btns'>
            <a href="" class='view-project-btn'>View Project</a>
            <a href="" class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
      <div class='project-right'>
        <img src="images/projects/project2.jpg" alt="" class='project-img'>
      </div>
    </div>
  </div>
</div>
