<p id='projects-link'></p>
<div class="projects">
  <div class='header-right'>
    <h1>PROJECTS</h1>
  </div>
  <div class='projects-content'>
    <div class='project'>
      <div class='project-left'>
        <img src="images/projects/kotoback.png" alt="" class='project-img'>
      </div>
      <div class='project-right'>
        <div class='project-description'>
          <h2>Kotoback</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iste eum suscipit ut laudantium expedita! Eaque corporis fuga nobis voluptates asperiores architecto, voluptas illo ut eum dolorem. Impedit, odit placeat.</p>
          <%= partial 'partials/project_tech_stack' %>
          <div class='project-btns'>
            <a href="https://www.kotoback.net" target='_blank' class='view-project-btn'>View Project</a>
            <a href="https://github.com/Jtsoco/kotoback" target='_blank' class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
    </div>

    <div class='project'>
      <div class='project-left'>
        <div class='project-description'>
          <h2>Kotoback</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iste eum suscipit ut laudantium expedita! Eaque corporis fuga nobis voluptates asperiores architecto, voluptas illo ut eum dolorem. Impedit, odit placeat.</p>
          <%= partial 'partials/project_tech_stack' %>
          <div class='project-btns'>
            <a href="https://www.kotoback.net" target='_blank' class='view-project-btn'>View Project</a>
            <a href="https://github.com/Jtsoco/kotoback" target='_blank' class='source-code-btn'>Source Code</a>
          </div>
        </div>
      </div>
      <div class='project-right'>
        <img src="images/projects/haunted-tours.png" alt="" class='project-img'>
      </div>
    </div>
  </div>
</div>
