.about-me {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 12em 5em 12em;

  h1 {
    font-size: 52px;
    padding-bottom: 48px;
    border-bottom: 3px solid ;
    // box-shadow: #71e5b6bf 0px 2px 30px 0px, rgba(255, 255, 255, 0.44) 0px 2px 15px 0px;
    height: 63px;
    width: 25%;
  }

  p {
    font-size: 20px;
    padding-bottom: 16px;
  }
}

#my-skills-header {
  font-size: 48px;
  text-align: center;
  margin-bottom: -155px;
  color: #dbfff1;
  text-shadow:  0 0 7px #5efdbebf,
  0 0 10px #5efdbebf,
  0 0 21px #5efdbebf,
  0 0 42px #5efdbebf;
}

.my-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 195px;

  p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;

    img {
      zoom: 60%;
    }
  }
}
