.banner-content{
  padding-top: 14rem;
  height: 100vh;
  display: flex;
}

.banner-left {
  width: 50%;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding-left: 12.5rem;
  overflow: hidden;

  p {
    font-size: 2rem;
  }

  h3 {
    font-size: 5rem;
    font-weight: bold;
    color: $green;
  }

  span {
    font-size: 1.5rem;
    color: #eae3e3;
  }
}

.banner-btns {
  padding-top: 1rem;

  a {
    font-size: 2.5rem;
    text-decoration: none;
    color: gray;
    padding-right: 2.5rem;
    transition: all .3s ease-in-out;
  }
}

.banner-btns a:hover {
  color: rgb(207, 204, 204);
  font-size: 3.5rem;
}

.banner-right {
  width: 50%;
  padding-left: 6.25rem;

  img {
    width: 23.75rem;
    height: 23.75rem;
    border-radius: 18.75rem;
    object-fit: cover;
    display: flex;
    align-content: center;
    box-shadow: 0 0 7px #71e5b6bf,
    0 0 10px #71e5b6bf,
    0 0 21px #71e5b6bf,
    0 0 42px #71e5b6bf,
    0 0 82px #71e5b6bf,
    0 0 94px #71e5b6bf;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }
}
