// /* Style inputs with type="text", select elements and textareas */
#contact {
  transform: translateY(-10vh)
}

#contact-container {
  height: 100%;
  padding-bottom: 9rem;

  p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0rem 15rem 3rem 15rem;
  }
}

#contact-form-container {
  display: flex;
  justify-content: center;
}

#contact-form {
  width: 50vw;
}

#input-name {
  width: 50%;
  padding-right: 0.75rem;
}

#input-email {
  width: 50%;
  padding-left: 0.75rem;
}


input, label {
  display:block;
}

input[type=text], [type=email], select, textarea {
  color: white;
  width: 100%; /* Full width */
  padding: 0.75rem; /* Some padding */
  // border: 1px solid #3c3c3c;
  background-color: rgb(128, 128, 128);
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0.375rem; /* Add a top margin */
  margin-bottom: 1rem; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #52cecec2;
  box-shadow: 0 0 5px #52cecebf,
   0 0 12px #52cecebf;
  color: white;
  padding: 0.625rem 1.25rem;
  margin: 3rem 42rem;
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* When moving the mouse over the submit input, add a darker green color */
input[type=submit]:hover {
  background-color: #388686;
}
