.footer {
  width: 100%;
  height: 3%;
  display: flex;
  justify-content: center;
  font-size: 1.375rem;
  color: #afadad;
}

#footer-creator {
  padding-left: 0.3125rem;
  font-weight: 600;
  color: white !important;
  text-shadow: 0 0 5px #52cecebf,
  0 0 12px #52cecebf,
  0 0 20px #52cecebf;
}
