.header-about-me {
  h1 {
    border-end-end-radius: 22px;
    font-size: 3.25rem;
    margin-bottom: 4rem;
    border-bottom: 2px solid #8aeac3bf;
    height: 4rem;
    width: 5.5em;
    box-shadow: 0 4px 2px -2px #5efdbebf,
                0 6px 2px -2px #59e8afbf,
                0 8px 2px -2px #4dcb99bf;
  }
}

.header-projects {
  display: flex;
  justify-content: flex-end;

  h1 {
    border-bottom-left-radius: 22px;
    font-size: 3.25rem;
    border-bottom: 2px solid #8b82c5;
    height: 4rem;
    width: 6em;
    margin-bottom: 4rem;
    padding-left: 2.75rem;
    box-shadow: 0 4px 2px -2px #7d6edc,
                0 6px 2px -2px #7060da,
                0 8px 2px -2px #6856dc;
  }
}

.header-contact {
  padding: 0% 0% 3% 19%;

  h1 {
    border-end-end-radius: 22px;
    font-size: 3.25rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #64d1d1bf;
    height: 4rem;
    width: 5em;
    box-shadow: 0 4px 2px -2px #52cecebf,
                0 6px 2px -2px #52cecebf,
                0 8px 2px -2px #52cecebf;
  }
}
