.banner-content{
  padding-top: 35vh;
  height: 100vh;
  display: flex;
}

.banner-left {
  overflow: hidden;
  order: 1;
  flex: 1;
  text-align: center;
  padding-left: 8%;

  p {
    font-size: 2rem;
  }

  h1 {
    font-size: 5.5rem;
    font-weight: bold;
    color: $green;
  }

  span {
    font-size: 1.5rem;
    color: #eae3e3;
  }
}

.banner-btns {
  padding-top: 1rem;

  a {
    font-size: 2.5rem;
    text-decoration: none;
    color: gray;
    padding-right: 2rem;
    transition: all .3s ease-in-out;
  }
}

.banner-btns a:hover {
  color: rgb(207, 204, 204);
  font-size: 3.5rem;
}

.banner-right {
  flex: 1;
  text-align: -webkit-center;
  order: 2;

  img {
    width: 22rem;
    height: 22rem;
    border-radius: 18.75rem;
    object-fit: cover;
    display: flex;
    align-content: center;
    box-shadow: 0 0 7px #71e5b6bf,
    0 0 10px #71e5b6bf,
    0 0 21px #71e5b6bf,
    0 0 42px #71e5b6bf,
    0 0 82px #71e5b6bf,
    0 0 94px #71e5b6bf;
  }
}

@media screen and (min-width:991px) {
  .banner-left {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition:0.5s all ease-in-out;
  }

  .banner-right {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
    transition:0.5s all ease-in-out;
  }

  .banner-fade-in {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 990px) {
  :root {
    font-size: 14px;
  }


  .banner-content {
    padding-top: 3rem;
    flex-direction: column-reverse;
    height: auto;

    .banner-left {
      padding-top: 4rem;
      padding-bottom: 17%;
      padding-left: 0;
      text-align: center;
    }

    .banner-right {
      padding-top: 5rem;
      order: 1;

      img {
        width: 21rem;
        height: 21rem;
      }
    }
  }
}
