.banner-content{
  padding-top: 35vh;
  height: 100vh;
  display: flex;
}

.banner-left {
  overflow: hidden;
  order: 1;
  flex: 1;
  text-align: center;
  padding-left: 8%;

  p {
    font-size: 2rem;
  }

  h1 {
    font-size: 5.5rem;
    font-weight: bold;
    color: $green;
  }

  span {
    font-size: 1.5rem;
    color: #eae3e3;
  }
}

.banner-btns {
  padding-top: 1rem;

  a {
    font-size: 2.5rem;
    text-decoration: none;
    color: gray;
    padding-right: 2rem;
    transition: all .3s ease-in-out;
  }
}

.banner-btns a:hover {
  color: rgb(207, 204, 204);
  font-size: 3.5rem;
}

.banner-right {
  flex: 1;
  text-align: -webkit-center;
  order: 2;

  img {
    width: 22rem;
    height: 22rem;
    border-radius: 18.75rem;
    object-fit: cover;
    display: flex;
    align-content: center;
    box-shadow: 0 0 7px #71e5b6bf,
    0 0 10px #71e5b6bf,
    0 0 21px #71e5b6bf,
    0 0 42px #71e5b6bf,
    0 0 82px #71e5b6bf,
    0 0 94px #71e5b6bf;
    // animation: fadeInAnimation ease 4s;
    // animation-iteration-count: 1;
    // animation-fill-mode: forwards;
  }

  // @keyframes fadeInAnimation {
  //   0% {
  //       opacity: 0;
  //   }
  //   100% {
  //       opacity: 1;
  //    }
  // }
}
