.header {
  min-height: 100vh;
  display: flex;

  @media screen and (max-width: $bp-desktop-l) {
    flex-direction: column-reverse;
  }

  & > * {
    flex-grow: 1;
    height: min-content;
    align-self: center;
  }

  &__text-box {
    overflow: hidden;
    text-align: center;

    p {
      font-size: 1.5rem;
      color: $color-gray-light-2;
    }
  }

  &__img-box {
    img {
      width: 22rem;
      height: 22rem;
      border-radius: 18.75rem;
      object-fit: cover;
      display: flex;
      align-content: center;
      box-shadow:
        0 0 7px $color-primary,
        0 0 10px $color-primary,
        0 0 21px $color-primary,
        0 0 42px $color-primary,
        0 0 82px $color-primary,
        0 0 94px $color-primary;
    }
  }

  &__social-icons {
    padding-top: 1rem;

    a {
      font-size: 2.5rem;
      text-decoration: none;
      color: gray;
      padding-right: 2rem;
      transition: all .3s ease-in-out;
    }

    & a:hover {
      color: rgb(207, 204, 204);
      font-size: 3.5rem;
    }
  }
}

@media screen and (min-width:991px) {
  .header__text-box {
    // opacity: 0;
    // transform: translate3d(0, 100px, 0);
    transition:0.5s all ease-in-out;
  }

  .header__img-box {
    // opacity: 0;
    // transform: translate3d(0, -100px, 0);
    transition:0.5s all ease-in-out;
  }

  .banner-fade-in {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 990px) {
  .header__text-box {
    text-align: center;
  }

  .header__img-box {
    // order: 1;

    img {
      width: 21rem;
      height: 21rem;
    }
  }
}
