.navbar-lewagon {
  background: $gray;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link a {
  padding: 16px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  position: relative;

  a::after {
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    width: 0px;
    background: rgba(113, 229, 182, 0.99);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
}

// .nav-link a::after {
//   content: "";
//   display: block;
//   height: 3px;
//   left: 50%;
//   position: absolute;
//   width: 0px;
//   background: rgba(113, 229, 182, 0.99);
//   transition: width 0.3s ease 0s, left 0.3s ease 0s;
// }

.nav-link a:hover::after {
  width: 85%;
  left: 7%;
}

.nav-link a:hover{
  color: $green;
}
