.navbar {
  background: $gray;
  height: 4.5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}

.navbar a {
  padding: 0 1.1% 0 1.1%;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: 'Chakra Petch', 'sans-serif';
  position: relative;
}

.navbar a::after {
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  width: 0px;
  background: rgba(113, 229, 182, 0.99);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navbar a:hover::after {
  width: 85%;
  left: 7%;
}

.navbar a:hover{
  color: $green;
}

.navbar .navbar-menu-icon {
  display: none;
}

.sidepanel {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  /* other styles for the side panel go here */
}

.sidepanel.show {
  right: 0;
  background-color: #232935;
  /* styles for the side panel when it's open go here */
}

.sidepanel-menu {
  list-style: none;
  padding: 2em 0em 0em 2em;

    li {
      padding-bottom: 1em;
    }

    a {
      padding-bottom: 3em;
      font-size: 32px;
    }
  /* styles for the side panel menu go here */
}

