body {
  --nav-height: 8vh;
  // padding-top: var(--nav-height);
}

.navbar {
  background: $gray;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  width: 100%;
  z-index: 100;
}

.navbar-hidden {
  height: translateY(calc(-1 * var(--nav-height)));
  // height: 50px;
  box-shadow: none;
}


.nav-link a {
  padding: 16px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: 'Chakra Petch', 'sans-serif';
  position: relative;
}

.nav-link a::after {
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  width: 0px;
  background: rgba(113, 229, 182, 0.99);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-link a:hover::after {
  width: 85%;
  left: 7%;
}

.nav-link a:hover{
  color: $green;
}
