#projects {
  transform: translateY(-10vh);
  overflow: hidden;
}

.projects {
  margin: 15rem 0;

  &-wrapper {
    display: flex;
    flex-direction: column;

    // @include respond(mobile-devices) {
    //   overflow-x: hidden;
    // }
  }
}

.project {
  display: flex;
  align-content: space-between;
  gap: 0 5rem;

  @include respond(desktop) {
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  @include respond(mobile-devices) {
    flex-direction: column;

    &:nth-child(even) {
      .project-left {
          transform: translateX(110%);
      }

      .project-right {
          transform: translateX(-110%);
      }
    }
  }

  &:not(:last-child) {
    padding-bottom: 10rem;
  }

  &__link {
    height: 100%;
  }

  &-img {
    position: static;
    object-fit: cover;
    transition: .4s ease;

    @include respond(mobile-devices) {
      margin-bottom: 3rem;
      max-height: 300px;
      width: 100%;
    }

    &:hover {
      opacity: 85%;
    }
  }
}

.project-left {
  transform: translateX(-110%);
}
.project-right {
  transform: translateX(110%);
}

.project-left,
.project-right {
  align-content: center;
  flex: 1;
  width: 100%;
  opacity: 0;
  transition: transform 0.9s ease, opacity 0.9s ease-in-out;

  @include respond(mobile-devices) {
    padding: 0;
  }

  &--visible {
    opacity: 1;
    transform: translateX(0) !important;
  }
}

.project__details {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 0;

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.6rem;
  }
}

.project__tech-stack {
  display: flex;

  &-item {
    margin-right: 1.5rem;

    &:hover p {
      visibility: visible;
    }

    p {
      visibility: hidden;
      background-color: #454545;
      color: #fff;
      text-align: center;
      padding: 0.1875rem 0;
      border-radius: 0.375rem;
      font-size: 0.75rem;
      position: fixed;
      z-index: 1;
    }

    img {
      width: 4rem;
      height: 4rem;
    }
  }
}

.project__btns {
  display: flex;
  gap: 0 2rem;

  & > * {
    flex: 1;
  }

  a {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 0.4em 0;
    justify-content: center;
    align-items: center;
  }
}

// .project-credentials {
//   transition: .5s ease;
//   opacity: 0;
//   position: absolute;
//   top: 50%;
//   left: 55%;

//   text-align: center;
//   font-size: 24px;
//   font-weight: 600;
// }

// .project-credentials-text {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   white-space: nowrap;
// }

// @media screen and (max-width: 480px) {
//   .project-credentials {
//     font-size: 16px;
//   }
// }

// .project-right:hover .project-credentials {
//   opacity: 1;
// }
