#projects {
  transform: translateY(-10vh)
}

.projects-container {
  height: 100%;
  padding: 0 10em 5em 10em;
  overflow-x: hidden;
}

.projects-content {
  display: flex;
  flex-direction: column;
}

.project-left {
  padding-right: 32px;
  transform: translateX(-73em);
  transition: transform 0.9s ease;
}

.project-left.show {
  transform: translateX(0em);
}

.project-right {
  padding-left: 32px;
  transform: translateX(47em);
  transition: transform 0.9s ease;
}

.project-right.show {
  transform: translateX(0em);
}


.project {
  display: flex;
  align-content: space-between;
  padding-bottom: 11em;
}

.project-description {
  display: flex;
  flex-direction: column;
  padding: 16px 0 16px 0;

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }
}

.project-img {
  position: static;
  object-fit: fill;
  height: 21rem;
  width: 35rem;
}

.project-tech-stack {
  display: flex;
  padding-bottom: 32px;

  img {
    zoom: 50%;
    margin-right: 6%;
  }
}

.tech {
  position: static;
  padding-right: 24px;

  p {
    visibility: hidden;
    width: 80px;
    background-color: #454545;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    font-size: 12px;
    position: fixed;
    z-index: 1;
  }
}

.tech:hover p {
  visibility: visible;
}

.project-btns a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.view-project-btn {
  margin-right: 8px;
  padding: 8px 115px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  background-color: #614edae0;
  box-shadow: 0 0 5px #5843dc,
  0 0 14px hsl(248, 69%, 56%);
}

.view-project-btn:hover {
  background-color: #513fc7;
}

.source-code-btn {
  margin-left: 8px;
  padding: 8px 39px;
  background-color: #40ac81;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 15px 0px #2e7759,
  0 0 14px #2e7759;
}

.source-code-btn:hover {
  background-color: #2b9c6f;
}
