#projects {
  transform: translateY(-10vh)
}

.projects-container {
  height: 100%;
  padding: 0 12% 5% 12%;
  overflow-x: hidden;
}

.projects-content {
  display: flex;
  flex-direction: column;
}

.project-1 {
  display: flex;
  align-content: space-between;
  padding-bottom: 11rem;
}

.project-2 {
  display: flex;
  align-content: space-between;
  padding-bottom: 11rem;
}

.project-3 {
  display: flex;
  align-content: space-between;
}

.project-left {
  width: 100%;
  padding-right: 4%;
  transform: translateX(-73rem);
  transition: transform 0.9s ease;
}

.project-left.show {
  transform: translateX(0rem);
}

.project-right {
  width: 100%;
  padding-left: 4%;
  transform: translateX(47rem);
  transition: transform 0.9s ease;
}

.project-right.show {
  transform: translateX(0em);
}

.project-description {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 0;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;

  h2 {
    font-size: 2.25rem;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.1rem;
    width: 90%;
  }
}

.project-img {
  position: static;
  object-fit: cover;
  // height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  padding-bottom: 2em
}

.project-tech-stack {
  display: flex;
  padding-bottom: 2rem;

  img {
    zoom: 46%;
    margin-right: 6%;
  }
}

.tech {
  position: static;
  padding-right: 1.5rem;

  p {
    visibility: hidden;
    width: 5rem;
    background-color: #454545;
    color: #fff;
    text-align: center;
    padding: 0.1875rem 0;
    border-radius: 0.375rem;
    font-size: 0.75rem;
    position: fixed;
    z-index: 1;
  }
}

.tech:hover p {
  visibility: visible;
}

.project-btns {
  display: flex;
}

.project-btns a {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 0.4em 0;
  justify-content: center;
  align-items: center;
}

.view-project-btn {
  flex-grow: 3.5;
  margin-right: 1em;
  // padding: 0.3em 3.5em;
  border-radius: 0.3em;
  transition: 0.3s ease-in-out;
  background-color: #614edae0;
  box-shadow: 0 0 5px #5843dc,
  0 0 14px hsl(248, 69%, 56%);
}

.view-project-btn:hover {
  background-color: #513fc7;
}

.source-code-btn {
  flex-grow: 2;
  // padding: 0.3em 0.4em;
  background-color: #40ac81;
  border-radius: 0.3em;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 15px 0px #2e7759,
  0 0 14px #2e7759;
}

.source-code-btn:hover {
  background-color: #2b9c6f;
}
