.sidepanel {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #232935;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  /* other styles for the side panel go here */
}

.sidepanel.show {
  right: 0;
  background-color: #232935;
  /* styles for the side panel when it's open go here */
}

.sidepanel-menu {
  list-style: none;
  padding: 10em 0em 0em 2em;

    li {
      padding-bottom: 2.5em;

      a {
        text-decoration: none;
        font-size: 2.5em;
        font-weight: 600;
      }
    }

    li:nth-child(1) a {
      color: white;
        box-shadow: 0 4px 2px -2px #5efdbebf,
        0 6px 2px -2px #59e8afbf,
        0 8px 2px -2px #4dcb99bf;
    }

    li:nth-child(2) a {
      color: white;
      box-shadow: 0 4px 2px -2px #7d6edc,
      0 6px 2px -2px #7060da,
      0 8px 2px -2px #6856dc;
    }

    li:nth-child(3) a {
      color: white;
      box-shadow: 0 4px 2px -2px #52cecebf,
      0 6px 2px -2px #52cecebf,
      0 8px 2px -2px #52cecebf;
    }
}

.sidepanel-menu-social {
  display: flex;
  justify-content: center;

  a {
    font-size: 3rem;
    text-decoration: none;
    padding: 0 0.3em 0 0.3em;
    color: rgb(231, 231, 231);
    text-shadow: 0 0 10px rgb(169, 169, 169),
    0 0 21px rgb(169, 169, 169);
  }
}

#sidepanel-language-toggler-container {
  display: flex;
  justify-content: center;
  padding-top: 2.5em;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  padding: 1em 1.3em 0em 0em;
  font-size: 1.7em;
}
