.main-container {
  margin-inline: auto; // needed?
  min-width: 90vw; // needed?
  max-width: 1140px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222733;
  box-shadow: inset 0 0 5px #525e65;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525e65;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444d53;
}

// Responsiveness
@media screen and (max-width: 1200px) {
  .projects-container {
    padding: 0 8% 5% 8%;
  }
}

@media screen and (max-width: 1200px) {
  .projects-container {
    padding: 0 8% 5% 8%;
  }
}

@media screen and (max-width: 990px) {
  .project-left, .project-right {
    padding: 0;
  }

  .projects-container {
    margin-top: 18%;
  }

  .projects-content:not(:last-child) {
    padding-bottom: 5rem;
  }
  .project-1, .project-2, .project-3 {
    height: auto;
  }
  .project-1 {
    flex-direction: column;
  }
  .project-2 {
    flex-direction: column-reverse;
  }
  .project-3 {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;

    img {
      zoom: 7%
    }
  }

  .main-nav__list {
    display: none;
  }

  #navbar-language-toggler {
    display: none;
  }

  .navbar .navbar-menu-icon {
    // padding: 2% 7% 0% 0%;
    font-size: 163%;
    float: right;
    display: flex;
  }
}

@media screen and (max-width: 683px) {
  .my-skills {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 3fr));
    padding: 0 13% 10% 13%;
  }
}

@media screen and (max-width: 480px) {
  .navbar img {
    zoom: 6%
  }

  .my-skills {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 3fr));
    padding: 0 10% 10% 10%;

    p img {
      zoom: 42%;
    }
  }

  .project-credentials {
    font-size: 16px;
  }
}
