.main-container {
  margin-inline: auto;
  min-width: 90vw;
}

//  Responsiveness

@media screen and (max-width: 990px) {
  .banner-content {
    padding-top: 3rem;
    flex-direction: column-reverse;
    height: auto;

    .banner-left {
      padding-top: 4rem;
      padding-left: 0;
      text-align: center;
    }

    .banner-right {
      padding-top: 5rem;
      order: 1;
    }
  }
}
