*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  //  This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px

  @include respond(desktop) {
    font-size: 75%; // 1rem, = 12px, 12/16
  }

  @include respond(tablet) {
    font-size: 56.25%; //
  }

  @include respond(mobile-devices) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tablet) { padding: 2rem; }
  @include respond(mobile) { padding: 1.6rem; }

  img {
    max-width: 100%;
  }
}
