body {
  // font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  // color: $color-gray-dark;
}

.heading-primary {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  color: $color-primary;
  // animation: moveInLeft 1s ease-out;

  @include respond(mobile) {
    font-size: 5rem;
  }
}

.heading-secondary {
  font-size: 3.25rem;
  width: 5.5em;
  // width: calc(max-content + 2rem);
  border-radius: 0 0 22px 0;

  // opacity: 0;
  transition: opacity 1s;

  // @include heading-color('color-primary');
  // @include heading-color('color-secondary');
  // @include heading-color('color-tertiary');

  &--color-primary {
    border-bottom: 2px solid $color-primary;
    box-shadow:
    0 4px 2px -2px $color-primary,
    0 6px 2px -2px $color-primary-dark-1,
    0 8px 2px -2px $color-primary-dark-2;
  }

  &--color-secondary {
    text-align: right;
    margin-left: auto;
    border-bottom-left-radius: 22px;
    border-radius: 0 0 0 22px;
    border-bottom: 2px solid $color-secondary;
    box-shadow:
    0 4px 2px -2px $color-secondary,
    0 6px 2px -2px $color-secondary-dark-1,
    0 8px 2px -2px $color-secondary-dark-2;
  }

  &--color-tertiary {
    border-bottom: 2px solid $color-tertiary;
    box-shadow:
    0 4px 2px -2px $color-tertiary,
    0 6px 2px -2px $color-tertiary-dark-1,
    0 8px 2px -2px $color-tertiary-dark-2;
  }
}

.heading-tertiary {
  font-size: 3rem;
}

// .paragraph {
//   font-size: $default-font-size;
//   &:not(:last-child) {
//     margin-bottom: 3rem;
//   }
// }
