// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #71e5b6fc;
$dark-gray: #0E0000;
$gray: #525e65;
$light-gray: #222733;
