// COLORS
// $colors: (
//   primary: (
//     base: #71e5b6fc,
//     dark-1: darken(#71e5b6fc, 10%),
//     dark-2: darken(#71e5b6fc, 20%),
//     dark-3: darken(#71e5b6fc, 30%)
//   ),
//   secondary: (
//     base: #7d6edc,
//     dark-1: darken(#7d6edc, 10%),
//     dark-2: darken(#7d6edc, 20%),
//     dark-3: darken(#7d6edc, 30%)
//   ),
//   tertiary: (
//     base: #52cecebf,
//     dark-1: darken(#52cecebf, 15%),
//     dark-2: darken(#52cecebf, 30%)
//   ),
// )

$color-primary: #71e5b6fc;
$color-primary-dark-1: darken($color-primary, 10%);
$color-primary-dark-2: darken($color-primary, 20%);
$color-primary-dark-3: darken($color-primary, 30%);

$color-secondary: #7d6edc;
$color-secondary-dark-1: darken($color-secondary, 10%);
$color-secondary-dark-2: darken($color-secondary, 20%);
$color-secondary-dark-3: darken($color-secondary, 30%);

$color-tertiary: #52cecebf;
$color-tertiary-dark-1: darken($color-tertiary, 10%);
$color-tertiary-dark-2: darken($color-tertiary, 20%);
$color-tertiary-dark-3: darken($color-tertiary, 30%);

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
